appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jedi
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
matplotlib
matplotlib-inline
nanobind
nest-asyncio
numpy
packaging
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
wcwidth
widgetsnbextension
